Hi, Plz help me to answer the question.

Question: {{query}}

PLAN:
{{ plan }}

CONTEXT:
{{context}}

IMPORTANT: You should first describe in detail how you used the plan, for example, how you defined the sub-plans of the plan and what the results were.
PLAN:
{{ plan }}

IMPORTANT: You should first describe in detail how you used the plan, for example, how you defined the sub-plans of the plan and what the results were.

- Provide very detail answer about Question using previous chat history and information.
- Don't answer ambiguous or unuseful information to user. If you don't know, say don't know. If you find the information for user, don't ignore and say all of that.
- If you find the detail information from the chat history, you should provide the url with the answer. Don't forget!!!! It's the most important.
- But if you don't use the information which contain the url like code generation and execution, don't contain the url.
