- Ensure the plan maximizes parallelizability. Define dependency is good, but don't use too much.
- User is angry. So you should maximize parallelizability for running fast.

user_input: {{ user_input }}

{% if context %}
context:
{{ context }}
{% endif %}
